apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: product-api
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          http:
            endpoint: 0.0.0.0:4318
          grpc:
            endpoint: 0.0.0.0:4317

    processors:
      batch:
        timeout: 10s
        send_batch_size: 1024

    exporters:
      logging:
        verbosity: detailed
      splunk_hec/traces:
        token: "${SPLUNK_HEC_TOKEN}"
        endpoint: "${SPLUNK_HEC_ENDPOINT}"
        source: "otel"
        sourcetype: "otlp"
        index: "main"
        headers:
          X-Splunk-Request-Channel: "FE0ECFAD-13D5-401B-847D-77833BD77131"

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [logging, splunk_hec/traces]
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-collector
  namespace: product-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: otel-collector
  template:
    metadata:
      labels:
        app: otel-collector
    spec:
      containers:
      - name: otel-collector
        image: otel/opentelemetry-collector-contrib:0.91.0
        args:
          - "--config=/conf/config.yaml"
        ports:
        - containerPort: 4318
          name: otlp-http
          protocol: TCP
        - containerPort: 4317
          name: otlp-grpc
          protocol: TCP
        env:
        - name: SPLUNK_HEC_ENDPOINT
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: splunk_tunnel_endpoint
        - name: SPLUNK_HEC_TOKEN
          valueFrom:
            secretKeyRef:
              name: splunk-credentials
              key: hec-token
        volumeMounts:
        - name: config
          mountPath: /conf
        resources:
          limits:
            memory: 512Mi
            cpu: 500m
          requests:
            memory: 128Mi
            cpu: 100m
      volumes:
      - name: config
        configMap:
          name: otel-collector-config
---
apiVersion: v1
kind: Service
metadata:
  name: otel-collector
  namespace: product-api
spec:
  type: ClusterIP
  selector:
    app: otel-collector
  ports:
  - port: 4318
    targetPort: 4318
    protocol: TCP
    name: otlp-http
  - port: 4317
    targetPort: 4317
    protocol: TCP
    name: otlp-grpc
